services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: fraud-api
    ports:
      - "8000:8000"
    restart: unless-stopped

  ui:
    build:
      context: ./ui
      dockerfile: Dockerfile
    container_name: fraud-ui
    ports:
      - "8501:8501"
    depends_on:
      - api
    restart: unless-stopped
