services:
  api:
    build: ./api
    environment:
      - API_KEY=H4shQ4x-2026-SECRET-KEY
    ports:
      - "8000:8000"

  ui:
    build: ./ui
    environment:
      - API_KEY=H4shQ4x-2026-SECRET-KEY
    ports:
      - "8501:8501"
